@import url('https://fonts.googleapis.com/css?family=Poppins');

  
  
body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
#navdva  {
   
    display: flex;
    justify-content: space-between;
}

#navdva button {
    background-color: #FB3B49;
    color: white;
    font-size: 0.5em;
  letter-spacing: 1.5px;
  border: none;
  padding: 10px;
}
#navdva a {
    font-size: 1em;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 10px 30px;
    display: inline;
  margin: 10px;
}

#navdva .join {
    font-size: 1em;
    color: black;
  letter-spacing: 0.5px;
  border-width: 1px; 
  border-style:inset;
  border-color:black;
}

#navdva .login {
    font-size: 1em;
    color: black;
}

h1 {
  font-size: 5em;
  text-align: center;
}

  #general-information {
    height: 500px;
    background-color: rgba(232,217,217,.3);
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }

  #general-information .container {
  width: 400px;
    text-align:center;
    display: inline-block;
  margin-right: 40px;
    line-height: 1.7;
    font-size:0.5;
  }


  #general-information .button {
    background-color: #FB3B49;
    color: white;
    font-size: 1em;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 10px 30px;
   box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    display: inline;
  margin: 10px
  }
  

#general-information .link {
  font-size: 1em;
  text-decoration: none;
  color: black;
background-color: white;
letter-spacing: 0.5px;
padding: 10px 30px;
}

#info {
    height: 500px;
     display:flex;
     justify-content:center;
     flex-direction: column;
     align-items: center;
     margin: 15px;
   }

   #info .triangle-hexagon {
    width: 200px;
    margin-right: 1rem;
   }

   h2 {
    font-size: 2em;
  text-align: center;
  background-color: rgba(255,204,53,.4);
  font-style: italic;
transform: skew(9deg,0deg);
   }

   .para {
    width: 400px;
    text-align:center;
    display: inline-block;
    margin-right: 40px;
    line-height: 1.7;
    font-size:0.5;
    flex-wrap:wrap
   }

   #structure {
    height: 200px;
     display:flex;
     justify-content:center;
     flex-direction: row;
     align-items: center;
     margin: 0 40px 0 40px;
     text-align: left;
   }
  
  .boxes {
    margin: 60px;
  }
  
  h3 {
    color:#ED1C24;
    font-size: 1em;
  }

 

.text {
    font-size: 1em;
    font-weight: 10;
    margin: 20px 0;
  }

  .logo {
    width: 10%;
    height: 20px;
  }


  
  #create a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    font-size: 1em;
  letter-spacing: 0.5px;
  margin: 300px 500px;
  padding: 20px;
  }
 


